hr.lg {
  margin-top: $hr-margin-y * 3;
  margin-bottom: $hr-margin-y * 3;
}

a {
  color: theme-color('primary');
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.lg-loading-screen {
  background-image: radial-gradient(circle, #cfffff, #cfffff, #cfffff, #cfffff, #cfffff, #d4ffff, #d8feff, #ddfeff, #e7fdff, #f2fdff, #fbfdff, #ffffff);

  .loading-bar {
    border-color: theme-color('dark');

    &:after {
      background: theme-color('dark');
    }
  }
}

.fancy-title {
  margin-bottom: 1.2rem;

  &:after {
    content: '';
    height: 2px;
    width: 60px;
    background-color: theme-color('secondary');
    display: block;
    margin-top: .5rem;
    margin-bottom: 1rem;
  }
}

.fancy-title.fancy-title--center {
  &:after {
    margin-left: auto;
    margin-right: auto;
  }
}


.fancy-list {
  list-style: none;
  padding-left: 0;
  font-size: 20px;

  > li {
    padding-left: 40px;
    position: relative;
    margin-bottom: .5rem;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 4px;
      background-image: url(../images/check.png);
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      height:100%;
      // color: theme-color('primary');
      // font-family: "Font Awesome\ 5 Free";
      // -moz-osx-font-smoothing: grayscale;
      // -webkit-font-smoothing: antialiased;
      // display: inline-block;
      // font-style: normal;
      // font-variant: normal;
      // text-rendering: auto;
      // line-height: 1;
      // font-size: 1.2em;
    }
  }
}

.flexible_call-to-action {
  h3 {
    margin-bottom: 0;
  }

  .btn {
    border: 1px solid theme-color('secondary');
    padding: 4px 22px;

    &:hover {
      color: #fff;
      background-color: theme-color('secondary');
    }
  }
}

.flexible_2_column_grid {
  @include media-breakpoint-down('sm'){
    .order-2 {
      padding-top: 1rem;
    }
  }
}

.course-grid-items {
  img {
    height: auto;
  }

  .flexible_grid {
    > div {
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  section.flexible-content {
    box-shadow: 0px 2px 6px rgba(#000, 0.1);
    height: 100%;

    > div {
      height: 100%;

      > div {
        height: 100%;
      }
    }

    .text-editor {
      padding-bottom: 20px;

      h3 {
        font-size: 20px;
        margin-top: 20px;
      }

      > * {
        padding-left: 15px;
        padding-right: 15px;

        &:first-child {
          padding-left: 0;
          padding-right: 0;
        }

        &:last-child {
          position: absolute;
          bottom: 20px;
        }
      }


    }
  }
}


.aqua-overlay {
  position: relative;
  a{
    color: theme-color('secondary');
    &:hover{
      color: theme-color('primary');
    }
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(theme-color('aqua'), 0.75);
  }
}


@include media-breakpoint-up(xl) {
  .right-content-register {
    .col-md-6.order-2 {
      padding: 20px 40px;

    }

    ul {
      padding-left: 20px;
    }
  }
}

