.gform_fields {
  list-style: none;
  padding-left: 0;

  > li {
    margin-bottom: 15px;

    input, select {
      border: 1px solid #707070;
      height: 40px;
      width: 100%;
      padding: 5px 10px;
    }
  }

  > li.gfield_error {
    input, select {
      border-color: #dc3545;
    }
  }
}

.validation_error {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.validation_message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.gform_body {
  >ul {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  .gform_body {
    display: flex;
    flex-wrap: wrap;
    .left-fields {
      width: 100%;
      flex: 0 0 50%;
      padding-right: 0.5rem;
    }
    .right-fields {
      width: 100%;
      flex: 0 0 50%;
      padding-left: 0.5rem;
    }
  }
}