.top-banner {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0;
  background-position: center top;

  h1 {
    font-size: 1.5rem;
  }
}

.top-banner--bg {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff, 0.26);
    @include media-breakpoint-down('xs'){
      background-color: rgba(#fff, 0.7);
    }
  }
}

.home {
  .top-banner {
    padding: 6rem 0;
    @include media-breakpoint-down('sm'){
      padding: 1.5rem;
    }
    h1 {
      margin-bottom: 0.75rem;
    }
  }
}


.top-banner__content {
  position: relative;
  z-index: 1;
  h1 {
    margin-bottom: 0;
  }
  h2 {
    font-weight: 300;
    margin-bottom: 1.5rem;
  }

}

@include media-breakpoint-up(lg) {
  .top-banner {
    padding: 3rem 0;

    h1 {
      font-size: 2.75rem;
    }
  }
  .top-banner--bg {
    padding: 9rem 0;
  }
}